$card-about-list--padding: 30px;
body {
    //--background-body: red;
}

.header {
    margin-bottom: 54px;
    border-bottom-color: #494955;
}

.header > div:last-child p, .header h1 {
    color: var(--white, #FFF);
}

::-webkit-scrollbar {
    //background: url("../../img/home_bg.png");
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), url("../../img/home_bg.png");
    background-position: right top;
    width: 15px;
    background-size: 100vw;
}

::-webkit-scrollbar-thumb {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    border: 4px solid transparent;
}

.home {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), url("../../img/home_bg.png"), lightgray 50% / cover no-repeat;
    //background-size: 100vw;
    background-attachment: fixed;
    background-size: cover;

    .content-wrapper {
        padding-left: 68px;
        padding-right: 68px;
        max-width: 100%;
    }

    .header {
        color: var(--white, #FFFFFF);

    }

    .card-about-list {

        display: grid;
        //grid-template-columns: repeat(5, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        gap: 20px;
        align-items: flex-start;

        .card {
            overflow: hidden;
            border-radius: 5px;


            position: relative;
            height: calc(324px + ($card-about-list--padding * 2));

            p,
            em {
                color: var(--grey, #AAA8B8);
                font-size: 16px;
                font-weight: 400;
                line-height: 18px;
            }


            .carl_logo {
                height: 72px;
                width: 72px;
            }

            h2 {

                color: var(--white, #FFF);
                font-family: Manrope, sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 18px;
                margin: 20px 0 14px;

            }

            p {
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            em {
                font-style: italic;
            }

            .buttons-content {
                cursor: pointer;
                position: absolute;
                bottom: $card-about-list--padding;
                left: $card-about-list--padding;
                right: $card-about-list--padding;

            }

            .button_open {
                display: flex;
                align-items: center;
                justify-content: space-between;

                img {
                    transform: translateX(0);
                    transition-duration: .3s;
                }

                &:hover {
                    img {
                        transform: translateX(10px);
                        left: 20px;
                    }
                }
            }

            .buttons {
                .button {
                    margin-top: 12px;
                    width: 100%;
                }
            }

            .card_content {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                padding: $card-about-list--padding;
                backface-visibility: hidden;
                transition: transform 0.7s ease;
            }

            .front {
                background: rgba(255, 255, 255, 0.20);
                backdrop-filter: blur(12.5px);
            }

            .back {
                transform: rotateY(-180deg);
                background: white;

                h2 {
                    color: var(--text);
                }
            }

            &.active {
                .front {
                    transform: rotateY(180deg);
                }

                .back {
                    transform: rotateY(0deg);
                }
            }
        }
    }

    .sponsor-block {
        margin: 85px 0 63px;

        h2 {
            margin-bottom: 24px;
            text-align: center;
            color: var(--white, #FFF);
            font-family: Oswald, sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .sponsor-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
        overflow-x: auto;
        overflow-y: hidden;

        .card {
            padding: 27px 49px;
            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.20);
            backdrop-filter: blur(2.5px);

            &.hidden {
                //display:none
                visibility: hidden;
            }
        }

        h3 {
            margin-top: 3px;
            color: var(--white, #FFF);
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            white-space: nowrap;
        }

        .img {
            width: 100%;
            height: 57px;

            img {
                object-fit: contain;
            }
        }
    }

}

@media screen and (max-width: 1000px) {
    .home {
        .content-wrapper {
            padding-left: 36px;
            padding-right: 36px;
        }

        .card-about-list {
            .card {
                height: 300px;

                .back p {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .home .card-about-list {
        grid-template-columns: 1fr;

        .card {
            height: 200px;

            h2 {
                margin-top: 0;
            }


            .back {
                .img {
                    display: none;
                }
            }
        }

        .front {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto 1fr;

            .carl_logo {
                grid-column: 1;
                grid-row: span 2;
                margin-right: 20px;
            }
        }

    }
}

@media screen and (max-width: 490px) {
    .home .card-about-list {
        grid-template-columns: 1fr;

        .card {
            height: 220px;

            .card_content {
                padding: 26px 30px;
            }
        }

    }
}

@media screen and (max-width: 430px) {
    .home .card-about-list {
        .card {
            height: 320px;

            h2 {
                margin-top: 0;
            }

        }

        .front {
            display: grid;
            grid-template-columns:  1fr;
            grid-template-rows: auto auto 1fr;

            .carl_logo {
                text-align: center;
                //grid-column: span 2;
                grid-row: 1;
                margin-right: 0;
                margin-bottom: 20px;
            }
        }

    }
}

@media screen and (max-width: 420px) {
    .home .card-about-list {
        grid-template-columns: 1fr;

        .card {
            .front{
                p{
                    //display: none;
                }
            }
            .back {
                .img{
                    display: block;
                }
                h2 {
                    margin-top: 20px;
                    //display: block;
                }
            }
            .card_content {
                padding: 26px 30px;
            }
        }

    }
}

@media screen and (max-width: 340px) {
    .home {
        .content-wrapper {
            padding-left: 26px;
            padding-right: 26px;
        }
    }
    .home .card-about-list {
        .card {
            height: 340px;


            .front {
                .carl_logo {
                    text-align: center;
                    grid-row: 1;
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }



        }
    }
}
