.modal_content {
    .m-0 {
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

}

.upload_img .buttons button.button {
    border-radius: 5px;
}

.upload_img {
    position: relative;
    background: lightgrey;

    width: 370px;
    height: 500px;
    max-width: 370px;
    video{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        height: 100%;
        width: 100%;

        object-fit: cover;
    }
    .img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;

        input {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .buttons {
        position: absolute;
        bottom: 20px;
        left: 20px;
        margin-bottom: 0 !important;
        z-index: 4;
        .button {
            border-radius: 50%;
            padding: 9px;
            display: inline-flex;

            img {
                height: 16px;
                width: 16px;
            }
        }
    }
}

.d-flex {
    display: flex;

    .button {
        width: auto;
    }
}

.space-between {
    align-items: center;
    justify-content: space-between;
}

form {
    table {
    }

    .checkbox-list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .text {
            * {
                display: block;

                &.subtitle {
                    color: var(--grey) !important;
                    font-size: 14px;
                }
            }
        }
    }

    tr.label {
        display: table-row;
        border-bottom: 8px solid transparent;
        position: relative;
    }

    .type__checkbox td:nth-child(1) {
        padding-left: 20px;
    }


    .label {
        height: calc(1em + 16px * 2 + 10px);
        padding: 0 16px;
        display: block;
        border-radius: 5px;
        border: 1px solid var(--grey-middle, #E9E8EE);
        background: var(--white, #FFF);
        margin: 0;
        transition-duration: 0.1s;
        position: relative;

        &:before, &:after {
            transition-duration: 0.3s;
            content: '';
            display: block;
            height: 2px;
            right: 0;
            left: 0;
            top: 53%;
            rotate: 0deg;
            position: absolute;

        }

        &.delete {
            background: lightgrey;
            color: #863737ed;

            &:before {
                rotate: -4deg;
                background: rgba(173, 173, 173, 0.61);
            }

            &:after {
                rotate: 4deg;
                background: rgba(173, 173, 173, 0.61);
            }
        }

        span, td, th {
            font-size: 16px;
            vertical-align: middle;

        }

        label {
            display: block;
            margin-top: 1em;
        }

        &.no-active {
            background: var(--grey-middle);
        }

        &.type__text {
            span {
                cursor: text;
                transition-duration: 0.3s;
                display: block;
                margin: 0;
                margin-top: 5px;
                padding: 0;
                transform: translateY(50%);
                color: var(--grey, #AAA8B8);
            }

            input, select {
                position: absolute;
                transition-duration: 0.3s;
                border: none;
                outline: none;
                display: block;
                width: auto;
                left: 20px;
                right: 20px;
                margin: 0;
                padding: 0;
                opacity: 0;
                font-size: 0;
            }

            input[type='number']::-webkit-outer-spin-button,
            input[type='number']::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

            select {
                left: 0;
                right: 0;
                padding-left: 16px;
                padding-right: 16px;
                width: 100%;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-image: none;
            }

            &.hovered:hover, &.hovered:active, &.hovered:focus, &.active, &.temp_active, {
                span {
                    transform: translateY(0);
                    font-size: 13px;
                }

                input, select {
                    font-size: 16px;
                    opacity: 1;
                }
            }
        }

        &.inline-flex {
            display: inline-flex;
        }

        &.type__checkbox.no_check {
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;

            label {
                padding-left: 40px;

                &.pl-0 {
                    padding-left: 0
                }

                height: 18px;
                width: 18px;
                position: relative;
                margin: 0;
                //display: inline-block;


                &:after, &:before {
                    z-index: 1;
                    content: "";
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    top: 0;
                    //left: 50%;
                    right: calc(18px / 2);
                    border-radius: 2px;
                    background: var(--grey, #AAA8B8);
                }

                &:after {
                    transform: rotate(45deg);
                }

                &:before {
                    transform: rotate(-45deg);
                }
            }

            input, select {
                display: none;
            }

            span {
                color: var(--text);
            }
        }
    }

    .custom-select, .select-box {
        position: relative;

        &.no-active {
            background: red;
        }

        &:before {
            content: '';
            position: absolute;
            right: 16px;
            top: 50%;
            display: block;
            transform: translateY(-75%) rotate(135deg);
            z-index: 1;
            width: 16px;
            height: 16px;
            border-top: 2px solid #AAA8B8;
            border-right: 2px solid #AAA8B8;
            border-radius: 1px;
        }
    }

    .select-box {

    }

    .label.type__text .custom-select-input {
        width: calc(100% - 16px - 16px);
    }

    .custom-select-options {
        position: absolute;
        left: 0;
        right: 0;

        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: none;
        z-index: 2;

        max-height: 150px;
        overflow-y: auto;
    }

    .custom-select-options.show-all {
        //max-height: none;
    }

    .custom-select-options li {
        padding: 10px;
        cursor: pointer;
    }

    .custom-select-options li:hover {
        background-color: #f2f2f2;
    }


}

.category-register, .register-box {
    max-width: 1000px;
    width: 100%;

    .table-auto_fool {
        grid-gap: 34px;
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .upload_img {
        width: 245px;

        .buttons {

            position: absolute;
            right: 26px;
            left: 26px;
            bottom: 10px;

            button {
                font-size: 14px;
            }
        }
    }

    .table {

        grid-column: 2;
        grid-row: 1;
    }

    .right {
        //grid-column: 2;
        //grid-row: 2;
    }

    .right .button {
        display: block;
    }

    .right input {
        width: auto;
    }
}

.passport_edit {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 170px 1fr;

    input {
        text-transform: uppercase;
    }
}
.content .nav{
    .buttons{
        margin-bottom: 0;
        .button{
            margin-right: 0;
            margin-left: 16px;
        }
    }
}
@media screen and (max-width: 1000px) {
    form {
        .upload_img {
            width: 100%;
            max-width: 100%;
            .img{
                width: 100%;
                max-width: 100%;
            }
        }

        .table {
            display: block;


            .label {
                margin-bottom: 10px;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .nav{
        .buttons{
            margin-bottom: 0;
            //.button{
            //    margin-right: 0;
            //    margin-left: 16px;
            //}
            span{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .content .nav .buttons .button{
        margin-left: 0;
        margin-right: 16px;
    }
    .nav{
        display: block;
        .buttons{
            span{
                display: block;
            }
        }
    }
}
@media screen and (max-width: 420px) {
    .nav{
        display: block;
        .buttons{

            span{
                display: none;
            }
        }
    }
}
