.modal_wrapper, .modal_wrapper_two {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;

    &.open {
        display: block;
    }

    .bg {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.85;
        background: var(--text);
    }

    .modal_content_wrapper {
        width: 100%;
        max-width: 1170px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        padding: 20px;
    }

    .modal_content {
        max-height: 90vh;
        overflow-y: scroll;
        width: 100%;
        background: var(--white, #FFF);
        padding: 30px 40px;

        &::-webkit-scrollbar-thumb {
            background-color: #babac0;
            border-radius: 16px;
        }

        &::-webkit-scrollbar {
            background: none;
            background-position: right top;
            width: 15px;
            background-size: 100vw;
        }
    }

    h2 {
        margin: 0;
        margin-bottom: 10px;
    }

    input {
        display: block;
        width: 100%;

        border-radius: 5px;
        border: 1px solid var(--grey-middle, #E9E8EE);
        padding: 16px;
        margin-top: 10px;
        background: var(--white, #FFF);

        &::placeholder {
            color: var(--grey, #AAA8B8);
        }
    }

    span {
        color: var(--text);
    }

    .button {
        margin-top: 12px;
        width: 100%;

        span {
            color: var(--white);
        }
    }


        .add-form-item {
            margin-right: 0;

            .modal_content {
                overflow-y: visible;
            }

            .button {
                margin-top: 0;
            }
        }


    .upload_img {
        border-radius: 5px;
        position: relative;
        width: 245px;
        height: 331px;
        background: var(--grey-middle);
        overflow: hidden;

        .img {
            height: 100%;
            width: 100%;
            margin-left: auto;
            margin-right: auto;


            input {
                border: none;
                outline: none;
                box-shadow: none;
                border-radius: 0;
                padding: 0;
                margin: 0;
                height: 100%;
                object-fit: cover;
            }

            input[type='image'][src=""] {
                width: 102%;
                height: 102%;
                transform: translate(-1%, -1%);
                margin: auto;
                //margin-top: 95px;
                background: url("/resources/img/upload_svg.svg") no-repeat center;
                background-size: 42px;
                background-position-y: 95px;

            }
        }

        .drop {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: tomato;
            opacity: 0;

            &.active {
                opacity: 1;
            }
        }

    }
}
.success-register, .register-box{
    .modal_content{
        display: flex;
        height: 790px;
    }
    .text{
        margin: auto;
        height: 344px;
        width: 380px;
    }
    p{
        margin: 39px 0;
    }
    .button{
        text-align: center;
        display: block;
    }
}
.modal_wrapper .modal_content_wrapper {
    &.search {
        width: 576px;
    }
}

.modal-search-form {
    .result-list {
        max-height: 300px;
        overflow-y: scroll;
        padding: 12px 19px;


        h4{
            margin: 10px 0 9px;
            font-weight: 600;
        }
        li {
            color: var(--text);
            font-family: Roboto, sans-serif;
            font-size: 14px;
            line-height: 18px;
            display: block;
        }

        a {
            font: inherit;
            color: inherit;
            text-decoration: none;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #babac0;
            border-radius: 16px;
        }

        &::-webkit-scrollbar {
            background: none;
            background-position: right top;
            width: 5px;
            background-size: 100vw;
        }

    }
}

