table {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 1px dashed var(--grey, #AAA8B8);

        &:last-child {
            border-bottom: none;
        }
    }

    thead {
        border-bottom: 2px solid var(--grey-middle, #E9E8EE);
    }

    td, th {
        padding: 16px 20px;
        min-width: 195px + 20px;
        max-width: 400px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    th {
        text-align: left;
        color: var(--grey, #AAA8B8);
        text-transform: uppercase;
        letter-spacing: 1.12px;
    }

    tr {
        vertical-align: top;
    }


    &.no-wrap {
        td, th {
            //white-space: nowrap;
            padding-left: 40px;
            padding-right: 40px;
            min-width: 1px;

            &.pl-0 {
                padding-left: 0;
            }

            &:first-child {
                padding-left: 0;
                padding-right: 0;
                width: 100%;
            }
        }

        tr {
            vertical-align: center;
        }

    }

    th, td {
        &.no_size {
            padding-left: 0;
            padding-right: 0;
            margin: 0;
            width: 1em;
            max-width: 1em;
            min-width: 1em;
            text-align: center;
        }
    }

    @media screen and (max-width: 1030px) {
        &.no-wrap {
            td, th {
                padding-left: 30px;
                padding-right: 30px;
            }

        }
    }
    @media screen and (max-width: 900px) {
        &.no-wrap {
            td, th {
                padding-left: 20px;
                padding-right: 20px;
            }

        }
    }
    @media screen and (max-width: 768px) {

        * {
            display: block;
        }
        tbody {
            .type__checkbox td:nth-child(1) {
                padding-left: 0;
            }

            tr.label {
                height: auto;
                display: flex;
                padding: 20px;
            }

            tr.label td.label_button {
                position: absolute;
                right: 20px;
                top: 20px;
            }
        }

        thead {
            display: none;
        }
        tr, &.no-wrap td {
            padding: 8px 0;
        }
        td, th {
            width: 100%;
            max-width: 100%;
            padding: 8px 0;
            //grid-column: span 10;

            &:first-child {
                color: var(--grey, #AAA8B8);
            }

            &.m-span-1 {
                grid-column: span 1;
                width: auto;
                //width: 100%;
                max-width: none;
            }
        }

        &.m-grid-3 {
            tr {
                display: grid;
                grid-template-columns: auto 1fr 1fr;
                grid-gap: 8px 12px;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                td{
                    &:nth-child(4){
                        grid-column: span 2;
                    }
                }
            }
        }
        &.m-grid-2 {
            tr {
                display: grid;
                grid-template-columns: 1fr auto;
                align-items: center;
                //display: grid;
            }
        }

    }

}

@media screen and (max-width: 768px) {
    .info-wrapper {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.todo_table {
    tr {
        vertical-align: middle;
    }

    .img_wrapper {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .img {
        height: 40px;
        width: 40px;
        border-radius: 50%;

    }
}

.fool {
    grid-column: span 2;
}
